


<body>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="styling.css" rel="stylesheet">
    <!-- Javascript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script><
    $.getJSON("https://api.fixer.io/latest?base=ZAR", function (data) {
    var currencies = [];
    $.each(data.rates, function (currency, rate) {
        currencies.push("<option id='" + currency.toLowerCase() + "' value='" + rate + "' >" + currency + "</option>");
    });
    $(".currency-list").append(currencies);
})

function exchangeCurrency() {
    var amount = $(".amount").val();
    var rateFrom = $(".currency-list")[0].value;
    var rateTo = $(".currency-list")[1].value;
    if ((amount - 0) != amount || ('' + amount).trim().length == 0) {
        $(".results").html("0");
        $(".error").show()
    } else {
        $(".error").hide()
        if (amount == undefined || rateFrom == "--Select--" || rateTo == "--Select--") {
            $(".results").html("0");

        } else {
            $(".results").html((amount * (rateTo * (1 / rateFrom))).toFixed(2));
        }
    }
}
</script>

<style>

html {
  font-size: 20px;
}

.panel {
  background: #333333;
  border: solid white;
}

.results {
  font-size: 1em;
  color: #FFFFFF;
}

.dropdown {
  margin-bottom: 50px;
}

.inline-block {
  display: inline-block;
}

.center {
  width: 90%;
  margin: 0 auto 30px;
}

</style>

</head>

<body>
   

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h4 class="panel-title">Currency Converter</h4>
        </div>
        <div class="error">
          Please enter numeric value
        </div>
        <div class="panel-body">
          <form class="form-vertical">

            <div class="form-group center">
              <label for="">Enter Value:</label>
              <input type="number" class="amount form-control" placeholder="Enter value" min="1">
            </div>


            <div class="form-group inline-block">
              <label for="">From currency:</label>
              <select class="currency-list form-control" onclick="exchangeCurrency()">
                <option>USD</option>
                <option>RANDS</option>
                <option>OMIR</option>
                <option>RTGS</option>



              </select>
            </div>

            <div class="form-group inline-block">
              <label>To currency:</label>
              <select class="currency-list form-control" onclick="exchangeCurrency()">
              <option>USD</option>
              <option>RANDS</option>
              <option>BOND</option>
              <option>RTGS</option>
              </select>
            </div>
          </form>
          <p class="results">0</p>
        </div>
      </div>
    </div>
  </div>
</div>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>

    <script src="app\assets\javascripts\program.js"></script>

  </

</body>
