


<%
require 'net/http'
require 'json'

# Setting the path to access currencies from the API
url = "http://localhost:3001/currencies"
uri = URI(url)
currencies = Net::HTTP.get(uri)
mcurrencies = JSON.parse(currencies) %>



<body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <!div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Welcome to our site</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Rates</a>
            </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#signup">Calculator</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <header class="masthead">
      <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
          <h1 class="mx-auto my-0 text-uppercase">Market Insights</h1>
          <h2 class="text-white-50 mx-auto mt-2 mb-5">last updated <%= mcurrencies[0]["updated_at"] %></h2>
          <a href="#about" class="btn btn-primary js-scroll-trigger">Rates</a>
        </div>
      </div>

    <!-- About Section -->
    <section id="about" class="about-section text-center">

    <h1 class="text-white mb-4">RATES</h1>

      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 class="text-white mb-4"><%= mcurrencies[0]["currency_name"] %><%= mcurrencies[0]["percentage"]%> % </h2>
            <h2 class="text-white mb-4"><%= mcurrencies[1]["currency_name"] %><%= mcurrencies[1]["percentage"]%> % </h2>
            <h2 class="text-white mb-4"><%= mcurrencies[2]["currency_name"] %><%= mcurrencies[2]["percentage"]%> % </h2>
            <h2 class="text-white mb-4"><%= mcurrencies[3]["currency_name"] %><%= mcurrencies[3]["percentage"]%> % </h2>
            <h2 class="text-white mb-4"><%= mcurrencies[4]["currency_name"] %><%= mcurrencies[4]["percentage"]%> % </h2>
            <h2 class="text-white mb-4"><%= mcurrencies[5]["currency_name"] %><%= mcurrencies[5]["percentage"]%> % </h2>
            <h2 class="text-white mb-4"><%= mcurrencies[6]["currency_name"] %><%= mcurrencies[6]["percentage"]%> % </h2>
          </div>
        </div>
        <img src="img/ipad.png" class="img-fluid" alt="">
      </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section text-center" >
    <h1 class="text-white mb-4">CALCULATOR</h1>
    
          <table id = "tables">
                  <tr id = "first">

                      <td><br>
                      <h2 class="text-white mb-4 ">I have</h2>
                      </td>
                      <td><input id="firstinput" onkeyup="convert('C');"></td>
                      <td>
                          <select id="from" onchange="convert('C')">
                              <option value="OMIR" selected>OMIR</option>                              
                              <option value="BOND" selected>BOND(BOND)</option>
                              <option value="ZAR" selected>RANDS</option>
                              <option value="USD" selected>USD </option>
                              
          
          
          
                          </select>
                      </td>
                  </tr>
                  <tr>
                      <td><br>
                      <h2 class="text-white mb-4 ">I get</h2>
                      </td>
                      <td><input id="secondinput" onkeyup="convert('F')"></td>
                      <td>
                          <select id="to" onchange="convert('F')">
                              <option value="RANDS">RANDS</option>
                              <option value="USD" selected>USdollar(USD)</option>
                              <option value="RTGS" selected>RTGS</option>
                              <option value="BOND" selected>BONDS</option>
          
          
                          </select>
                      </td>
                  </tr>
          
              </table>
          
     
     <h2 class="text-white mb-4 ">
     DISCLAIMER
     <br>
     Please note that these are not official rates. We accept no liability for any.
     </h2>
    </section>

    
    

</body>





