<!DOCTYPE html>
<html>
  <head>
    <title>Rates</title>
    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://blackrockdigital.github.io/startbootstrap-grayscale/css/grayscale.min.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css'  %> 
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'  %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js'  %>
   
    
    <%= stylesheet_link_tag 'app/assets/stylesheets/application.scss': 'reload'  %> 
    <%= javascript_include_tag 'app/assets/javascripts/application.js': 'reload' %> 

    <script>
    
    function convert(param1){
    var factor;
    f = document.getElementById('from').value
    t = document.getElementById('to').value

    if(f == t){
        factor = 1
    }
    else if(f == 'USD' && t == 'RTGS'){
        factor = 3.4;
    }
    else if(f == 'USD' && t == 'RANDS'){
        factor = 1.14;
    }
    else if(f == 'USD' && t == 'BOND'){
        factor = 2.8;
    }
    else if(f == 'USD' && t == 'EUR'){
        factor = 1/1.06;
    }
    else if(f == 'BOND' && t == 'RTGS'){
        factor = 1.2;
    }
    else if(f == 'BOND' && t == 'USD'){
        factor = 1/2.8;
    }
    else if(f == 'BOND' && t == 'RTGS'){
        factor = 1;
    }
    else if(f == 'ZAR' && t == 'USD'){
        factor = 1/1.4;
    }
    else if(f == 'ZAR' && t == 'RTGS'){
        factor = 1.25;
    }
    else if(f == 'ZAR' && t == 'BOND'){
        factor = 1.3;
    }
    else if(f == 'OMIR' && t == 'RTGS'){
        factor = 5.45;
    }
    else if(f == 'RTGS' && t == 'OMIR'){
        factor = 1/5.45;
    }

    if(param1 == "C"){
        document.getElementById('secondinput').value = document.getElementById('firstinput').value * factor
    }
    if(param1 == "F"){
        document.getElementById('firstinput').value = document.getElementById('secondinput').value * factor
    }

}

</script> 

   
  </head>

  <body> 
  
  <%= yield %>

  </body>


  
</html>
